//@import 'fonts.scss';

body {
    background: #ebe9eb;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

hr {
    height: 3px;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.header {
    height: 91px;
    background: url("image/header-texture.png") no-repeat #694b6f;
    margin-bottom: 4px;
    .logo {
        float: left;
        display: inline-block;
        margin-left: 37px;
        margin-top: 20px;
    }
    .date {
        float: right;
        display: inline-block;
        background: #fff;
        padding: 5px 15px;
        color: #4c3651;
        font-size: 14px;
        font-weight: 400;
        margin-top: 29px;
        margin-right: 24px;
    }
}
.content {
    background:  #fff;
    padding: 0 23px 9px;
    margin-bottom: 4px;
    color: #262626;
    font-size: 14px;
    line-height: 20px;
    &.p-b-22 {
        padding-bottom: 22px;
    }
    p {
        margin: 0;
        padding: 0;
    }
    .text {
        font-weight: 400;
    }
    .hey {
        float: left;
        margin-top: 32px;
        margin-bottom: 9px;
    }
    .bold {
        font-weight: 700;
    }
    a {
        color: #65486a;
        text-decoration: underline;
    }
    .m-l-20 {
        margin-left: 20px;
    }
}
.elipse {
    width: 126px;
    height: 52px;
    float: right;
}
.elipse-new {
    background: url('image/elipse-new.png') no-repeat;
}
.elipse-pause {
    background: url('image/elipse-pause.png') no-repeat;
}
.elipse-approved {
    background: url('image/elipse-approved.png') no-repeat;
}
.clear {
    clear: both;
}
.content-last {
    background: #fff;
    padding: 17px 23px;
    color: #262626;
    font-size: 14px;
    line-height: 20px;
    &-multiline {
        padding: 19px 23px 22px;
        p {
            line-height: 21px;
            margin: 0;
            padding: 0;
        }
    }
}

.app {
    height: 134px;
    background-color: white;
    margin-bottom: 4px;
    &.m-b-1 {
        margin-bottom: 1px;
    }
    .app-logo-link {
        float: left;
        display: inline-block;
        margin: 24.5px 13px 24.5px 24px;
        width: 85px;
    }
    .app-info {
        float: left;
        display: inline-block;
        color: #262626;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 19px 0;
        width: 440px;
        p {
            padding: 0;
            margin: 0;
            &.first-line {
                padding-top: 8px;
            }
        }
    }
    .app-top-badge {
        float: left;
        width: 100%;
        max-height: 3px !important;
        background-color: #ffb129;
        color: white;
        span {
            background-color: #ffb129;
            height: 13px;
            float: left;
            margin-left: 19px;
            padding: 4px 10px 4px 7px;
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            img {
                left: 8px;
                margin-right: 6px;
            }
        }
    }
    .app-badge {
        display: inline-block;
        .app-badge-top {
            display: inline-block;
            color: #1ab394;
            font-size: 10px;
            font-weight: 700;
            line-height: 14px;
            text-transform: uppercase;
            border: 2px solid #1ab394;
            padding: 0 7px;
            border-radius: 10px;
            vertical-align: bottom;
            height: 14px;
            margin: 0 4px;
        }
        .app-badge-rectangle {
            display: inline-block;
            color: white;
            font-size: 10px;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            padding: 0 10px;
            border-radius: 10px;
            height: 18px;
            vertical-align: bottom;
        }
        .app-badge-incent {
            background-color: #965ba7;
        }
        .app-badge-exclusive {
            background-color: #1ab394;
        }
        .app-badge-incent-non {
            background-color: #cac4ca;
        }
        .app-badge-icon {
            display: inline-block;
            width: 20px;
            height: 24px;
            vertical-align: sub;
            margin: 0 4px;
            background-repeat: no-repeat;
        }
        .app-badge-apple {
            background-image: url("image/apple.png");
        }
        .app-badge-android {
            background-image: url("image/android.png");
            height: 21px;
        }
    }
    .app-price {
        float: left;
        display: inline-block;
        width: 50px;
        text-align: right;
        line-height: 134px;
    }
    .app-button-container {
        float: left;
        display: inline-block;
        line-height: 134px;
        text-align: center;
        width: 188px;
        .app-button {
            padding: 11px 49px 8px;
            height: 36px;
            background-color: #84608e;
            border-radius: 2px;
            color: white;
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.app-all-info {
    font-family: Arial, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #262626;
    background-color: white;
    padding: 24px 10px 37px 23px;
    margin-bottom: 5px;
    p {
        padding: 0;
        margin: 0;
    }
    a {
        color: #65486a;
        text-decoration: underline;
    }
}

.footer {
    height: 80px;
    background: url("image/footer-texture.png") no-repeat #694b6f;
    color: white;
    p {
        margin: 0;
        padding: 0;
        line-height: 15px;
    }
    .left-side {
        float: left;
        display: inline-block;
        width: 188px;
        opacity: 0.7;
        font-size: 11px;
        font-weight: 400;
        padding: 7px 24px 8px 29px;
        margin: 12px 0 10px;
        border-right: 1px solid rgba(255,255,255,.7);
    }
    .right-side {
        float: left;
        display: inline-block;
        opacity: 0.7;
        font-size: 11px;
        font-weight: 400;
        font-style: italic;
        padding: 25px 31px 0;
        a {
            text-decoration: underline;
            color: #ffffff;
        }
    }
}