<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OFFERSEVEN overdue invoice #1111111</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">    
</head>
<body style="background: #ebe9eb; font-family: 'Lato', sans-serif; margin: 0; padding: 0;">
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div class="container" style="margin: 0 auto; width: 800px;">
        <div class="header" style="background: url('http://compton.bh.net.ua/image/header-texture.png') no-repeat #694b6f; height: 91px; margin-bottom: 4px;">
            <a href="#" class="logo" style="display: inline-block; float: left; margin-left: 37px; margin-top: 20px;"><img src="http://compton.bh.net.ua/image/o7-logo.png" alt="Logo o7"></a>
            <div class="date" style="background: #fff; color: #4c3651; display: inline-block; float: right; font-size: 14px; font-weight: 400; margin-right: 24px; margin-top: 29px; padding: 5px 15px;">10/10/2016</div>
        </div>
        <div class="content p-b-22" style="background: #fff; color: #262626; font-size: 14px; line-height: 20px; margin-bottom: 4px; padding: 0 23px 9px; padding-bottom: 22px;">
            <div class="hey" style="float: left; margin-bottom: 9px; margin-top: 32px;">
                <p class="bold" style="font-weight: 700; margin: 0; padding: 0;">Dear Partner,</p>
            </div>
            <div class="clear" style="clear: both;"></div>
            <p class="text" style="font-weight: 400; margin: 0; padding: 0;">This is a friendly reminder that your account appears as past due.</p>
<p class="text" style="font-weight: 400; margin: 0; padding: 0;">Please transfer the total due amount within the next 3 days. Our records indicate that the following invoice(s) are overdue:</p>
            <p class="m-l-20" style="margin: 0; margin-left: 20px; padding: 0;">[Invoice Nr]: {{ data['invoice'] }}</p>
            <p class="m-l-20" style="margin: 0; margin-left: 20px; padding: 0;">[Due date]: {{ data['due_date'] }}</p>
            <p class="m-l-20" style="margin: 0; margin-left: 20px; padding: 0;">[Amount]: {{ data['amount'] }}</p>
            <p class="text" style="font-weight: 400; margin: 0; padding: 0;">In case if you have already sent us the payment, we recommend you to mail us the copy of the swift and disregard this reminder.</p>
            <br>
            <p class="text" style="font-weight: 400; margin: 0; padding: 0;">Thanks for your attention!</p>
        </div>
        <div class="footer" style="background: url('http://compton.bh.net.ua/image/footer-texture.png') no-repeat #694b6f; color: white; height: 80px;">
            <div class="left-side" style="border-right: 1px solid rgba(255,255,255,0.7); display: inline-block; float: left; font-size: 11px; font-weight: 400; margin: 12px 0 10px; opacity: 0.7; padding: 7px 24px 8px 29px; width: 188px;">
                <p style="line-height: 15px; margin: 0; padding: 0;">OfferSeven LLC © 2016</p>
                <p style="line-height: 15px; margin: 0; padding: 0;">1930 Village Center Circle #3-205</p>
                <p style="line-height: 15px; margin: 0; padding: 0;">United States, Las Vegas, NV, 89134</p>
            </div>
            <div class="right-side" style="display: inline-block; float: left; font-size: 11px; font-style: italic; font-weight: 400; opacity: 0.7; padding: 25px 31px 0;">
                <p style="line-height: 15px; margin: 0; padding: 0;">You received this message because you are registered as affiliate of the OfferSeven network.</p>
                <p style="line-height: 15px; margin: 0; padding: 0;">To stop receiving emails from us, please <a href="#" style="color: #ffffff; text-decoration: underline;">unsubscribe</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>